	  .red {
		background: red;
		background-color: red;
		color: black;
	  }
	  .blue {
		background: blue;
		background-color: blue;
		color: black;
	  }
	  .green {
		background: green;
		background-color: green;
		color: black;
	  }
	  .yellow {
		background: yellow;
		background-color: yellow;
		color: black;
	  }
	  .white {
		background: white;
		background-color: white;
		color: black;
	  }
	  .black {
		background: black;
		background-color: black;
		color: black;
		text-shadow:  1px 0 #ffffff, 0 -1px #ffffff, 0px 0 white, 0 0px white;
	  }